My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1888,
        -80
      ],
      "id": "1e4b48f8-5943-43d5-9b28-9bc37a39a047",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1744,
        -80
      ],
      "id": "8dd30cd5-09b5-48e0-87b4-716762c57eb3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json[\"username\"]}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1424,
        -80
      ],
      "id": "1840f6ce-6076-466f-adc4-ef11971d7a3a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a69ff09-0762-4bb2-9b5e-e6de96b59e27",
              "leftValue": "={{ $json.followers }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "9df85582-aa77-408f-84d9-6c6fadebeda1",
              "leftValue": "={{ $json.public_repos }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1264,
        -80
      ],
      "id": "26b334b4-ab1b-4d0a-8ef8-61d915857cd7",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b6c4dc3c-e3f3-4e17-8fe1-7eea8b4ea4d2",
              "name": "username",
              "value": "={{$json[\"login\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        -80
      ],
      "id": "6aa4f560-0072-4cb3-937f-6bfdc73c057a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8bee76a-254c-41d8-9be6-77e64e407bf2",
              "name": "pitch",
              "value": "This developer is active in open source and is worth connecting with.",
              "type": "string"
            },
            {
              "id": "15083fe3-127b-4131-a317-17c860290176",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        -128
      ],
      "id": "cce3319b-41b2-422c-8c54-beae2b859540",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ANWJJS5TQ",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=🔥 High Value Lead\n\nName: {{$json[\"name\"] || \"Name\"}}\nBio: {{$json[\"bio\"] || \"Bio\"}}\n\nPitch: {{$json[\"pitch\"] || \"Pitch\"}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -864,
        -128
      ],
      "id": "df67b27d-6226-4325-81c5-27c1caba58b5",
      "name": "Send a message",
      "webhookId": "ed63cbea-1611-415f-9a91-dcf08276beda",
      "credentials": {
        "slackOAuth2Api": {
          "id": "PtkwjabYvKUYipm5",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3acbb0b0-6b63-4c0e-9f34-e3ebb91b3b37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b8e4061e8914b6542bce26f057b6a5d026df054fca7ca00e68a18c1f35b54448"
  },
  "id": "TQEeTfY65fZM8ack",
  "tags": []
}
